.container-fluid{
    margin: 0px auto;
    max-width: 1024px;
}
.navbar-inner{
    padding: 5px 0px 10px 0px;
}
.section-header {
  padding-bottom: 11px;
  margin: 10px 0;
  border-bottom: 1px solid #eeeeee;
}

.page-header{
    margin-top: 0;
}

.well h2, .well h3, .well h4 {
    margin: 30px 0px 0px 0px;
}
.well>h2:first-child, .section-header>h2:first-child, .section-header>h3:first-child{
    margin-top: 0px;
}
h3.popover-title {
    margin-top: 0px;
}

.btn {
    text-transform: uppercase;
}

.footer {
    border-top: 1px solid #E5E5E5;
    padding-top: 10px;
}

/*
 MOJO
-------------------------------------------------- 
html, body {height: 100%;}
body > .container {height: auto; min-height: 100%;}
.label-bigger {font-size: 1em;}


 Main
-------------------------------------------------- 

.centerBox {width:600px; margin:10% auto; overflow: hidden;}
div.scrollmedium {max-height: 200px; overflow: auto;}
div.scrollsmall {max-height: 100px; overflow: auto;}


Date Menu**********************
.datemenu {
    -webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px; 
    background-color:#94CBE9; margin:10px 0px; padding: 0px; 
    display: block; overflow: hidden;
}

ul.datemenu li {float:left; margin:0px; padding:0px; display: inline-block;}
ul.datemenu li a {border-right:1px solid #B3DAEF; display:block; width:139px; padding:7px 0px; text-align:center; outline:none; color:#FFFFFF; font-weight:bold;}
ul.datemenu li a:link, ul.datemenu li a:hover, ul.datemenu li a:visited {text-decoration:none; color:#FFF; font-weight:bold;}
ul.datemenu li a.active {background-color:#0F4E71; color:#FFFFFF;}
ul.datemenu li #timeTitle {text-align: left; border-right:0px; width: 620px; padding-left: 20px; overflow: hidden; white-space: nowrap;}



 Tables
-------------------------------------------------- 
table .header{cursor:pointer;}table .header:after{content:"";float:right;margin-top:7px;border-width:0 4px 4px;border-style:solid;border-color:#000 transparent;visibility:hidden;}
table .headerSortUp,table .headerSortDown{background-color:rgba(141, 192, 219, 0.25);text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);}
table .header:hover:after{visibility:visible;}
table .headerSortDown:after,table .headerSortDown:hover:after{visibility:visible;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .headerSortUp:after{border-bottom:none;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .blue{color:#049cdb;border-bottom-color:#049cdb;}
table .headerSortUp.blue,table .headerSortDown.blue{background-color:#ade6fe;}
table .green{color:#46a546;border-bottom-color:#46a546;}
table .headerSortUp.green,table .headerSortDown.green{background-color:#cdeacd;}
table .red{color:#9d261d;border-bottom-color:#9d261d;}
table .headerSortUp.red,table .headerSortDown.red{background-color:#f4c8c5;}
table .yellow{color:#ffc40d;border-bottom-color:#ffc40d;}
table .headerSortUp.yellow,table .headerSortDown.yellow{background-color:#fff6d9;}
table .orange{color:#f89406;border-bottom-color:#f89406;}
table .headerSortUp.orange,table .headerSortDown.orange{background-color:#fee9cc;}
table .purple{color:#7a43b6;border-bottom-color:#7a43b6;}
table .headerSortUp.purple,table .headerSortDown.purple{background-color:#e2d5f0;}

table tfoot td{border-top:1px solid #ddd; font-weight: bold;}

table .progress {margin-bottom: 0px;}


 Forms
-------------------------------------------------- 
.centerBox .form-horizontal .form-actions {padding-left: 160px;}
.subnav form {margin-bottom: 0px;}
.subnav .form-horizontal .control-group label {text-align: left; width:75px;}
.formQuickColFirst label { padding-left: 20px;}
.subnav .form-horizontal .controls {margin-left: 0px;}
form .noDisplay {display: none;}
form .description {font-size:11px; line-height:18px;display:block;max-width:600px;margin-left: 150px; margin-top: 5px;}
form #captcha {display: none;}
.errorText {color: #9D261D;}
ul.help-block {list-style: none; margin: 0px; padding: 0px;}
ul.help-block li{font-size:11px; line-height:18px; color:#9D261D;}
.checkboxRow .input input {margin-top:8px;}

.mini {width: 40px;}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
     prevent horizontal scrollbar 
    overflow-x: hidden;
     add padding to account for vertical scrollbar 
    padding-right: 20px;
}
 IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 
.ie6 .ui-autocomplete {
    height: 100px;
}


 Footer
-------------------------------------------------- 
.pagination.center,
.pagination.center ul {
    float: left;
    position: relative;
}
.pagination.center { left: 50%; }
.pagination.center ul { left: -50%; }

.footer {
    background-color: #eee;
    padding: 10px 0px 0px 0px;
    text-shadow: 0 1px 0 #fff;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    clear: both;
    position: relative;
    margin-top: -77px;
    height: 65px;
}

.footer p {
    color: #555;
    line-height: 2em;
}*/


