<!doctype html>
<!--[if lt IE 7]> <html lang="en-us" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>{{ page.title }}</title>
    
    {{# page.description }}
    <meta name="description" content="{{ . }}" />
    {{/ page.description }}

    {{{ assets }}}
    <link rel="shortcut icon" type="image/x-icon" href="{{ urls.media }}/favicon.png" />
</head>
<body>
        
    <div class="navbar navbar-fixed-top" id="topbar">
        <div class="navbar-inner">
            <div class="container-fluid">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="/">{{ site.title }}</a>

                <div class="nav-collapse">            
                    <ul class="nav">
                    {{# site.navigation?to_pages }}
                      {{> pages_list }}
                    {{/ site.navigation?to_pages }}
                    </ul>
                </div>

            </div>
        </div>
    </div>

<div class="container-fluid">

    {{{ content }}}

    
    <footer class="footer">
        <div class="row-fluid">
            <div class="span6">
                <p>
                    Hand crafted with all the love in the world by <a target="_blank" id="recensuslink" href="http://recensus.com">Recensus</a><br>
                    All Rights Reserved | copyright &copy; 2012.
                </p>
            </div>
            <div class="span6">
                <p style="text-align:right;"><a href="#">Back To Top &uarr; </a></p>
            </div>
        </div>
    </footer>

</div>

    {{{ google_prettify }}}
    {{{ analytics }}}
</body>
</html>
